<label>Server name</label>

<!-- one-way-databinding -->
<!--<input type="text"-->
<!--class="form-control"-->
<!--(input)="onUpdateServerName($event)">-->

<!-- two-way-databinding -->
<!-- needs import of FormsModule in app.module -->
<input type="text"
       class="form-control"
       [(ngModel)]="serverName">

<!--<p>{{ serverName }}</p>-->

<div class="servers container">
  <app-server *ngFor="let server of servers"></app-server>
</div>

<p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
  <p>No server created.</p>
</ng-template>

<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server
</button>
